{% extends 'homepage/base.html' %}
{% block content %}
<div style="margin:50px">
  <a href="{% url 'allcources'%}"> <h5> Classroom</h5> </a>
 </div>
<div style="margin:50px">
  <h5> Добаить задание курсу {{cource.name}}</h5>
</div>
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
 <div class="mb-3" style="margin:50px">
    <label for="formGroupExampleInput" class="form-label">Название</label>
    <input type="text" class="form-control" id="formGroupExampleInput" name="name" required>
  </div>
  <div class="mb-3" style="margin:50px">
    <label for="formGroupExampleInput2" class="form-label">инструкция</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" name="instruction" required>
  </div>
  <div class="mb-3" style="margin:50px">
  <label for="file">Upload File:</label>
  {{form.file}}
  </div>
</div>
  <div class="mb-3" style="margin:50px">
    <label for="formGroupExampleInput2" class="form-label">баллы</label>
    {{form.points}}
  </div>
  <div class="mb-3" style="margin:50px">
    <label for="formGroupExampleInput2" class="form-label" placeholder="без срока здачи">Срок сдачи</label>
    {{ form.deadline }}
  </div>
  <div class="mb-3" style="margin:50px">
    <label for="occupation">Выберите тему</label>
    <select class="form-select" name="theme" aria-label="Default select example">
        <option></option>
      {% for theme in themes %}
      <option value="{{theme}}">{{theme}}</option>
      {% endfor %}
   </select>
  </div>
  <div class="mb-3" style="margin:50px">
    <label for="formGroupExampleInput" class="form-label">Создать тему</label>
    <input type="text" class="form-control" id="formGroupExampleInput" name="new_theme">
  </div>

  <button class="btn btn-primary" type="submit" value="Upload" style="margin-left:50px">Создать</button>

</form>

{% endblock content %}
